@import url(default.css);
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

body {
  background: url("/assets/ui-bg.gif") no-repeat center;
  width: 100%;
  color: var(--pure-white);
}
a {
  color: var(--pure-white);
}
span {
  color: var(--primary-color);
}
.container {
  width: 100%;
}
.header {
  display: flex;
  color: var(--pure-white);
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.social-links {
  display: flex;
}
.social-links li {
  margin-right: 1.6rem;
}

.main {
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 200px;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(180deg, #161820, #212233 30%);
  overflow-y: auto;
  position: fixed;
  left: 0;
  padding-bottom: 4rem;
}

.sidebar li {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}
.sidebar li:hover {
  opacity: 1;
}
.content-container {
  /* margin-left: 200px; */
  width: 100%;
  border: 1px solid blue;
  padding: 2rem;
  background-image: linear-gradient(180deg, #161820 100%, #212233);
  z-index: -999;
}
.content {
  border: 1px solid red;
  width: 80%;
  height: 90%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
}
